*{box-sizing: border-box;}


body {
background:
url('graveyard.jpg') center

}

.container {
display: flex;
align-items: center;
justify-content: center;
justify-items: center;
align-content: center;
}

ul{

display: flex;
flex-direction: row;
justify-content: space-between;
list-style: none;
justify-items: center;
align-content: center;
margin: 0;
position: absolute;
top: 50%;
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%) }

li {
background-color: bisque;
border: 10px solid white;
-moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
-webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}

.ghostbutton1 {
text-align: center
}

.ghostbutton2 {
    text-align: center
    }

 .ghostbutton3 {
    text-align: center
        }